* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #e3ecff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.nav-link {
	font-size: 1.5rem;
	color: #eef1fa;
	font-family: dapifer, bold;
}

.nav-link:hover {
	font-size: 1.6rem;
	color: #e5b9a1;
}

.navbar-toggler {
	outline: none;
}

.logopic {
	width: 30%;
}

.navbar-togglefa {
	color:#eef1fa ;
	font-size: 2rem;
	border: none;
}

.closebtn {
	color: #eef1fa;
	background-color: transparent;
	border: none;
	font-size: 2rem;
}




